@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(255, 255, 250);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 250, 1) 0%,
    rgba(255, 253, 225, 1) 34%,
    rgba(255, 249, 181, 1) 62%,
    rgba(255, 249, 184, 1) 100%
  );
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
